<!DOCTYPE html>
<html>
<head>
  <title>DdrDeposit</title>
  <%= stylesheet_link_tag    "ddr/deposit/application", media: "all" %>
  <%= javascript_include_tag "ddr/deposit/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
